<!-- <div>
   <div class="image1">
      <p id="slideshow">
        <%#= image_tag 'type-x2.jpg', :size => "475x400", :alt => "sake", class: "active" %>
        <%#= image_tag '石鹸1.jpg', :size => "475x400", :alt => "Nishijin-ori"  %>
        <%#= image_tag '静岡お茶1.jpg', :size => "475x400", :alt => "Kutani yaki" %>
      </p>
   </div>
   <div class="image2">
      <p id="slideshow">
        <%#= image_tag 'nishijin.jpg', :size => "475x400", :alt => "sake", class: "active" %>
        <%#= image_tag 'type-s2.jpg', :size => "475x400", :alt => "Nishijin-ori" %>
        <%#= image_tag 'KU1.jpg', :size => "475x400", :alt => "Kutani yaki" %>
      </p>
   </div>
   <div class="image3">
      <p id="slideshow">
        <%#= image_tag '九谷焼.jpg', :size => "475x400", :alt => "sake", class: "active" %>
        <%#= image_tag 'edokiriko2.jpg', :size => "475x400", :alt => "Nishijin-ori" %>
        <%#= image_tag 'お香.jpg', :size => "475x400", :alt => "Kutani yaki" %>
      </p>
   </div>
 </div> -->

  <%= image_tag '石鹸1.jpg', :width => "33.3333%", :height => "332.81px", :alt => "sake" ,class: "product_logo_first" %>
  <%= image_tag '静岡お茶1.jpg', :width => "33.3333%", :height => "33.3333%", :alt => "sake" ,class: "product_logo" %>
  <%= image_tag '九谷焼.jpg', :width => "33.3333%", :height => "33.3333%", :alt => "sake" ,class: "product_logo" %>


 <div class="introduction" style="background-image: url('/assets/sakura027.png');">
  <h3 id="whats_hao">What's Hao?</h3>
    <p class="whats_haoo">
      The origin of “HaO” comes from the Chinese word “Hao/好”, meaning good, and the letter “O” is from the English word” OK “, meaning simply “good things” and HaO is our original brand name.<br>
      Our products are high of quality with confidence, for they are made on a customer’s point of view, and most of them are not known by oversea customers. We are confident that they will enrich the customer’s lives. It is highly for recommendation.
    </p>
 </div>

<h2 id="sub_title"> Products</h2>
  
  <div class="contents clearfix" >
  <% @products.each do |product| %>
    <div class="all_product">    
      <p class="p_name"><%= product.product_name %></p>
      <%= link_to image_tag("#{product.images.main[0].image}", class: "thumbnail"), "/products/#{product.id}" %>
      <p><%= product.price + "JPY" %></p>
      <%= link_to 'Details', "/products/#{product.id}", class: "details" %>
    </div>



  <% end %>
 </div>

<!-- jQuery.jsの読み込み -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

<!-- スムーズスクロール部分の記述 -->
<script>
$(function(){
   // #で始まるアンカーをクリックした場合に処理
   $('a[href^=#]').click(function() {
      // スクロールの速度
      var speed = 400; // ミリ秒
      // アンカーの値取得
      var href= $(this).attr("href");
      // 移動先を取得
      var target = $(href == "#" || href == "" ? 'html' : href);
      // 移動先を数値で取得
      var position = target.offset().top;
      // スムーススクロール
      $('body,html').animate({scrollTop:position}, speed, 'swing');
      return false;
   });
});
</script>
