<!DOCTYPE html>
<html>
<head>
  <title>Haoonline</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript">
function slideSwitch() {
   var $active = $('#slideshow img.active');

   if ( $active.length == 0 ) $active = $('#slideshow img:last');

   var $next =  $active.next().length ? $active.next()
      : $('#slideshow img:first');

   $active.addClass('last-active');

   $next.css({opacity: 0.0})
      .addClass('active')
      .animate({opacity: 1.0}, 1000, function() {
           $active.removeClass('active last-active');
      });
}

$(function() {
   setInterval( "slideSwitch()", 3000 );
});
</script>
</head>
<body>

  <header>
    <div class="header_bar">
    <div class="sp-clearfix">
      
        <div class="logo">
         <%= image_tag 'logo.png', :size => "50x50" %>
        </div>
        <h1 class = "title"><a href="/">Hao Online Gift</a></h1>
    </div>
        <div id="menu">
          <ul>
              <li><a href="/products#whats_hao" class="menu1">What's HaO?</a></li>
              <li><a href="/products#sub_title" class="menu2">Products</a></li>
                 <% if user_signed_in? %>
                  <li> <%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
                    <% if current_user.permission == 1 %>
                     <li><%= link_to "Admin", admins_path, method: :get %></li>
                    <% end %>
                 <%else %>
                    <li><%= link_to "Log in", new_user_session_path, class: 'post' %></li>
                    <li><%= link_to "Registration", new_user_registration_path, class: 'regist' %></li>
                 <% end %>
             </li>
          </ul>
        </div>
    </div>
  </header>

  <%= yield %>
  
  <footer>
    <div class="footer"><p>Copyright © 2016 COOL JAPAN TRADING Co., Ltd. All rights reserved</p></div>
  </footer>

</body>
</html>
