<!DOCTYPE html>
<html>
<head>
  <title>Haoonline</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
</head>
<body>

  <header>
    <div class="header_bar">
        <div class="logo">
         <%= image_tag 'logo.png', :size => "50x50" %>
        </div>
        <h1 class = "title"><a href="/">Hao Online Gift</a></h1>
        <div id="menu">
          <ul>
              <li><a href="#whats_hao">What's HaO?</a></li>
              <li><a href="#sub_title">Products</a></li>
              <li>
        
                 <% if user_signed_in? %>
                    <div class="user_nav">
                      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
                        <% if current_user.permission == 1 %>
                          <%= link_to "Admin", admins_path, method: :get %>
                        <% end %>
                    </div>
                 <%else %>
                    <div class="user_nav">
                        <%= link_to "Log in", new_user_session_path, class: 'post' %>
                        <%= link_to "Registration", new_user_registration_path, class: 'post' %>
                    </div>
                 <% end %>
             </li>
          </ul>
        </div>
    </div>
  </header>
  <%= yield %>
  <footer>
    <p class="footer">Copyright © 2016 COOL JAPAN TRADING Co., Ltd. All rights reserved</p>
  </footer>

</body>
</html>
